* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .container{

    margin-top:1px;
  
    text-align: center;
  }
  
  .nav {
    /* background-color: #333; */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
  }
  
  .site-title {
    font-size: 2rem;
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
  }
  
  .nav li.active {
    background-color: #555;
  }
  
  .nav li:hover {
    background-color: rgb(15, 15, 15);
  }


  /* ---------login page---------- */



    /* ------------------background image home page---------------------- */

    .hero-image {
      background-image: url("./images/bgimg.jpg");
      background-color: #cccccc;
      height: 500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }


    /* -------------------- */
    .bg-img {
      /* The image used */
      background-image: url("./images/loginbgimg.jpg");
    
      background-color: #cccccc;
      height: 880px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    
    .bg-img-home {
      /* The image used */
      background-image: url("./images/home-bgimg.jpg");
      background-color: #cccccc;
      background-position: center;
      background-repeat: repeat;
      background-size: cover;
      position: relative;
    }


    blockquote {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background: #ddd;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
    }